@import './vendor/bootstrap/css/bootstrap.min.css';
@import './vendor/bootstrap-icons/bootstrap-icons.css';
@import './vendor/fontawesome-free/css/all.min.css';

@import './css/main.css';

.fix-home-menu {
  width: 100%;
}
.color-vue-verde {
  background-color: #42b883;
}
.color-vue-oscuro {
  background-color: #35495e;
}
.unir-logo {
  background-color: aliceblue;
}

.icono-carrito {
  font-size: 64px;
}

.navbar .get-a-quote,
.navbar .get-a-quote:focus {
background: #000;
padding: 8px 20px;
margin-left: 30px;
border-radius: 4px;
color: #fff;
}

.navbar .get-a-quote:hover,
.navbar .get-a-quote:focus:hover {
color: #fff;
background: #0d6efd;
}
.cursos-destacados {
  border: 2px red solid; 
  border-radius: 5px;
}

.cursos-opiniones {
  border: 2px orange solid; 
  border-radius: 5px;
}

.cursos-actualizaciones {
  border: 2px green solid; 
  border-radius: 5px;
}
/*
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
*/